<h1 class="display-4">Liste des arrivées</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Date d'arrivée</th>
      <th>Heure</th>
      <th>Email de la personne rencontrée</th>
    </tr>
  </thead>
  <tbody>
    <% arrivals.forEach(function(arrival) {%>
      <tr>
        <td><%= arrival.id %></td>
        <td><%= arrival.nom %></td>
        <td><%= arrival.prenom %></td>
        <td><%= arrival.arrival_date %></td>
        <td><%= arrival.appointment %></td>
        <td><%= arrival.email %></td>
        <td>
          <a href="/arrivals/edit/<%= arrival.id%>" class="btn btn-primary">Éditer</a>
          <form class="d-inline" action="/arrivals/delete/<%= arrival.id %>" method="POST">
            <input type="submit" value="Supprimer" class="btn btn-danger">
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table> 