<h1 class="display-4">Liste des arrivées</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Date d'arrivée</th>
      <th>Heure</th>
      <th>Email de la personne rencontrée</th>
    </tr>
  </thead>
  <tbody>
    <% arrivals.forEach(function(arrivals) {%>
      <tr>
        <td><%= arrivals.id %></td>
        <td><%= arrivals.nom %></td>
        <td><%= arrivals.prenom %></td>
        <td><%= arrivals.arrival_date %></td>
        <td><%= arrivals.appointment %></td>
        <td><%= arrivals.email %></td>
        <td>
          <a href="/arrivals/edit/<%= arrivals.id%>" class="btn btn-primary">Éditer</a>
          <form class="d-inline" action="/arrivals/delete/<%= arrivals.id %>" method="POST">
            <input type="submit" value="Supprimer" class="btn btn-danger">
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table> 