<h1 class="display-4">Utilisateurs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user) {%>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nom %></td>
        <td><%= user.prenom %></td>
        <td><%= user.email %></td>
        <td>
            <a href="/users/edit/<%= user.id %>" class="btn btn-primary">Éditer</a>
            <form class="d-inline" action="/users/delete/<%= user.id %>" method="POST">
              <input type="submit" value="Supprimer" class="btn btn-danger">
            </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table> 